.section {
  margin: 2px auto;
  width: 0;
  font-family: 'Slabo 27px', serif;
  display: flex;*/
  /*-webkit-display: flex;*/
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

.button {
  /*border: none;*/
  /*cursor: pointer;*/
  padding: 0px 0px;
  position: relative; }
.button .text {
  position: relative;
  z-index: 100;
  font-size: 2em; }

#section-1 {
  background-color: #FFFFFF; }
  #section-1 #button1 {
    background-color: #FFFFFF; }
    #section-1 #button1 .text {
      color: rgb(193, 44, 60);
      -webkit-transition: color .3s linear;
      transition: color .5s linear; }
    #section-1 #button1 .border, #section-1 #button1 .top, #section-1 #button1 .left, #section-1 #button1 .bottom, #section-1 #button1 .right {
      transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      background-color: rgb(193, 44, 60);
      position: absolute; }
    #section-1 #button1 .top, #section-1 #button1 .left {
      left: 0;
      top: 0; }
    #section-1 #button1 .bottom, #section-1 #button1 .right {
      right: 0;
      bottom: 0; }
    #section-1 #button1 .right, #section-1 #button1 .left {
      width: 2px;
      height: 0%; }
    #section-1 #button1 .bottom, #section-1 #button1 .top {
      height: 2px;
      width: 0%; }
    #section-1 #button1::after {
      content: '';
      transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      width: 0px;
      height: 0px;
      background-color: rgb(193, 44, 60); }
    #section-1 #button1:hover .text {
      color: #FFFFFF; }
    #section-1 #button1:hover > .bottom, #section-1 #button1:hover .top {
      width: 100%; }
    #section-1 #button1:hover > .right, #section-1 #button1:hover .left {
      height: 100%; }
    #section-1 #button1:hover::after {
      width: 100%;
      height: 100%;
      opacity: 1; }

@media (max-height: 300px), (max-width: 650px) {
  .section {
    height: 100%;
    width: 100%;
    /*white-space: nowrap;*/
    float: none; } }
